.custom-checkbox {
	opacity:0;
	filter:alpha(opacity=0);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

.custom-checkbox-label {
	position:relative;
}

.custom-checkbox-display {
	width:18px;
	height:18px;
	box-sizing:border-box;
	display:inline-block;
	cursor:pointer;
	background-color:#fcfcfc;
	vertical-align:middle;
	margin:5px;
	border:1px solid #9dbcbd;
}

.custom-checkbox-display.custom-checkbox-checked {
	background-image:url("../images/check.png");
	background-position:center center;
	background-repeat:no-repeat;
}